/* Apply the same aesthetic as the unit converter to the note app */
#note-app-container {
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 50%;
  text-align: center;
}

#note-app-container h2 {
  margin-bottom: 15px;
}

#note-input {
  width: calc(100% - 20px); /* Adjust width to account for padding */
  height: 250px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box; /* Include padding and border in the element's width */
}

#notes-container {
  margin-top: 20px;
}

.note {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px; /* Match the border-radius of other inputs */
}

/* Match the button styling to the converter */
#note-app-container button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #0C4C8A;
  color: white;
  cursor: pointer;
  width: calc(100% - 20px); /* Adjust width to account for padding */
  box-sizing: border-box; /* Include padding and border in the element's width */
}
