.periodic-table {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
  gap: 5px;
  margin: 20px auto;
  padding: 20px;
  max-width: 600px; /* Adjust to fit your site's design */
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.periodic-table-header {
  text-align: center;
  margin-bottom: 20px; /* This adds space below the title */
}

.periodic-table-header h2 {
  display: inline-block;
  background-color: #57a6c0; /* Or any color of your choice */
  color: #ffffff; /* Or any color of your choice */
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 2em; /* Adjust based on your preference */
}

.fun-fact {
  font-style: italic;
  margin-top: 10px;
}

.element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #f4f4f4;
  border-radius: 5px;
  cursor: pointer;
}

.element:hover {
  background-color: #e0e0e0;
}

.element-info {
  /* Position it at the bottom and center it */
  margin: 0 auto;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  width: 80%; /* or 100% if you want it full width */
  text-align: center;
  /* Add a fixed height or set to auto to expand as needed */
  height: auto;
}

@media screen and (max-width: 768px) {
  .periodic-table-header h2 {
    font-size: 1.5em; /* Smaller font size for smaller screens */
  }

  .periodic-table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr)); /* Adjust grid for smaller width */
    gap: 5px;
  }

  .element {
    padding: 5px; /* Reduce padding */
    font-size: 0.7em; /* Reduce font size */
  }
}

@media screen and (max-width: 480px) {
  .periodic-table {
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr)); /* Even smaller grid items for very small screens */
  }

  .element {
    padding: 2px;
    font-size: 0.5em;
  }
}
