body {
  background: linear-gradient(to right, #57a6c0, #1b687f);
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  color: #1b687f; /* Dark blue text color to match the darker gradient */
  padding: 10px 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;

}

.logo {
  font-weight: bold;
  color: #1b687f; /* Dark blue that matches the gradient */
}

.nav-links a {
  text-decoration: none;
  color: #1b687f; /* Dark blue for contrast and readability */
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
  background-color: #57a6c0; /* Your desired hover color */
  color: white;
}

.nav-links li {
  list-style-type: none; /* Remove bullet points */
  width: 100%; /* Make li fill the container */
}

.menu-icon {
  display: block;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.menu-icon {
  display: block;
}

.nav-links {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  margin-top: 10px; /* Remove default margin */
  padding-left: 0; /* Remove default padding */
}

.nav-links li {
  text-align: center;
  margin: 10px 0;
}

.nav-links.active {
  display: block;
}

.nav-links a {
  padding: 10px 20px; /* Provide sufficient padding inside the links */
  display: block; /* This will make the <a> tag fill the li */
  width: 100%; /* Ensure the width fills the parent */
  box-sizing: border-box; /* Include padding in width calculations */
  text-align: center; /* Align text to the left */
}

.search-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

#searchInput {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-container button {
  padding: 5px 10px;
  background-color: #0C4C8A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

