.game-container {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Box shadow like in the screenshot */
  padding: 20px;
  width: 80%; /* You can adjust this as necessary */
  max-width: 600px; /* Maximum width */
  margin: 20px auto;
  text-align: center;
}

.tic-tac-toe-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three columns with equal width */
  grid-template-rows: repeat(3, 1fr); /* Creates three rows with equal height */
  gap: 5px;
  width: 300px; /* Set a fixed width for the board */
  height: 300px; /* Set the height to match the width to create a square */
  margin: auto; /* Center the board horizontally */
}

.cell {
  display: flex;
  align-items: center;  /* Vertically center the content */
  justify-content: center;  /* Horizontally center the content */
  background-color: #fff;
  border: 1px solid #000;
  position: relative; /* Allows absolute positioning within cell */
  font-size: 2em; /* Increase the size of the content */
  cursor: pointer; /* Changes cursor to pointer to indicate clickable area */
}

/* Modify the ::before pseudo-element for the cell to maintain a 1:1 aspect ratio */
.cell::before {
  content: '';
  display: block;
  padding-top: 100%; /* Aspect ratio 1:1 based on width */
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
}

/* Clear the float */
.cell::after {
  content: "";
  display: table;
  clear: both;
}

.button-style {
  background-color: #0C4C8A; /* Dark blue background */
  color: #ffffff; /* White text */
  border: none; /* No border */
  padding: 10px 20px; /* Padding for the button */
  border-radius: 5px; /* Rounded corners */
  font-size: 1.2em; /* Larger text */
  cursor: pointer; /* Pointer cursor on hover */
  margin-top: 20px; /* Space above the button */
  width: 100%; /* Width of the button */
  max-width: 200px; /* Maximum width */
}

/* Hover effect for the button */
.button-style:hover {
  background-color: #1b687f; /* Slightly lighter blue on hover */
}

/* Make sure the button doesn't shrink on smaller screens */
@media (max-width: 768px) {
  .button-style {
    width: 70%; /* More width on smaller screens */
  }
}

.game-over-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over-content {
  text-align: center;
  color: white;
}
